* {
  margin: 0;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-Father {
  background-color: gray;
  width: 60%;
  height: 300px;
  border-radius: 30px;
}