* {
  margin: 0;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-Father {
  background-image: url("./Media/Fondo.jpg") ;
  width: 40%;
  height: 300px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#containerText {
  width: 75%;
  margin-bottom: 0;
}

#containerButton {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}

#icon {
  width: 30%;
}

.buttonStyle {
  width: 30%;
  height: 50px;
  margin-top: 5%;
  border-style: none;
  background-color: black;
  border-radius: 5px;
  color: white;
}

#textPhase {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

#textAuth {
  font-size: 30px;
  font-weight: 600;
  text-align: right;
}